.cart {
  padding: 5rem 0;
  overflow: visible;

  > .row {
    padding: 5rem 0;
    font-size: 1.8em;

    @include breakpoint(md) {
      flex-direction: column-reverse;
      font-size: 1.7em;
      gap: 10rem;
    }
  }

  &__data {
    h2 {
      font-size: 1.3em;
      position: relative;
    }

    .cart__ship p {
      padding: 0.5rem 0;
      flex-wrap: wrap;
      gap: 2rem;

      span {
        font-weight: bold;
        position: relative;
        font-size: 1.1em;
        text-align: right;
        align-self: flex-end;
        justify-items: end;
      }
    }

    .cart__personal {
      p {
        font-size: 0.9em;
      }
      .flex-row {
        gap: 1rem;
      }
    }

    .form__input {
      margin: 0.5rem 0;
      font-size: 1em;
    }

    .btn-principal {
      font-size: 1em;
    }

    @include breakpoint(sm) {
      h2 {
        text-align: center;
      }

      .text-leftline::before {
        left: 0;
      }
    }
  }

  &__resume {
    gap: 2rem;

    &__products {
      gap: 1rem;
      max-height: 310px;
      overflow: auto;

      .cart__product {
        width: 100%;
        gap: 2rem;

        .cart__product__img {
          flex-basis: 25%;
          min-width: 11rem;
          height: 15rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .cart__product__info {
          flex-basis: 75%;
          gap: 0.5rem;

          .text-underlined {
            position: relative;
            display: block;
            font-size: 1.3em;
          }
          h3:last-child {
            text-align: right;
            font-size: 1.3em;
          }
        }
      }
    }

    .cart__subtotal {
      margin: 2rem 0;
      padding: 2rem 0;
      border-top: 2px solid #dedede;
      border-bottom: 2px solid #dedede;
      gap: 1rem;

      h4 {
        font-size: 1em;

        span {
          font-size: 1.2em;
        }
      }
    }

    .cart__total h2 {
      position: relative;
      padding: 0 1.5rem;
      font-size: 1.7em;
    }
  }
}
