.cart {
  padding: 5rem 0;
  overflow: visible;

  > .row {
    padding: 5rem 0;

    @include breakpoint(md) {
      flex-direction: column-reverse;
      gap: 8rem;
    }
  }

  &__data {
    h2 {
      position: relative;
    }
    .accordion-button {
      font-size: 1.1em;
      font-weight: bold;
      padding: 0.5rem 0;
      color: $black;

      &:not(.collapsed) {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
      }
      &:focus {
        box-shadow: none;
      }
    }

    .cart__ship div {
      flex-wrap: wrap;

      span {
        font-weight: bold;
        position: relative;
        font-size: 1.2em;
        text-align: right;
        margin-left: auto;
      }
    }

    .cart__personal {
      .flex-row {
        gap: 1rem;
      }
    }

    .cart__fact {
      .checkbox__box {
        position: relative;

        input[type="checkbox"] {
          position: absolute;
          top: 0;
          bottom: 0;
          left: -2.6rem;
          min-width: 1em;

          @include breakpoint(md) {
            position: initial;
          }
        }
      }
    }

    .form__input {
      margin: 0.5rem 0;
    }

    @include breakpoint(sm) {
      h2 {
        span {
          width: 100%;
          text-align: center;
        }
      }

      .text-leftline::before {
        left: 0;
        z-index: 4;
      }
    }
  }

  &__resume {
    gap: 3rem;

    &__products {
      gap: 1rem;
      max-height: 33rem;
      overflow: auto;

      .cart__product {
        width: 100%;
        gap: 2rem;

        .cart__product__img {
          flex-basis: 25%;
          min-width: 11rem;
          height: 15rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2px;
          }
        }

        .cart__product__info {
          flex-basis: 75%;
          gap: 0.5rem;

          .text-underlined {
            position: relative;
            display: block;
            font-size: 1.3em;
          }
          h3:last-child {
            text-align: right;
            font-size: 1.3em;
          }
        }
      }
    }

    .cart__subtotal {
      padding: 2rem 0;
      gap: 1rem;
      border-top: 2px solid #dedede;
      border-bottom: 2px solid #dedede;

      h4 {
        font-size: 1em;

        span {
          font-size: 1.2em;
        }
      }
    }

    .cart__total h2 {
      position: relative;
      padding: 0 1.5rem;
      font-size: 1.5em;
    }
  }
}
