/*   WELCOME   */
.welcome {
  height: calc(100vh - 75.13px);
  @include flex(null, center, center, null);
  background: url(../img/welcome-garage-2.webp) center center fixed no-repeat;
  background-size: cover;
  border-bottom: 5px solid $primary;
  box-shadow: 0 0 40px #ffda077e;

  .btn-principal {
    animation: float 0.6s ease-in-out infinite alternate;
  }
}
/*   CATEGORIES   */
.categories {
  .flex-row {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 0;
    gap: 4rem;

    article {
      align-items: center;
      position: relative;
      animation: float 0.5s ease-in-out infinite alternate;

      .btn-secundario {
        position: absolute;
        bottom: -1rem;
        text-transform: lowercase;
        font-style: italic;
      }

      img {
        max-width: 350px;
      }
    }
  }
}
/*   HELP   */
.help {
  padding: 5rem 0;

  &__icons {
    font-size: 7.5em;
    gap: 2rem;

    .fa-shopping-cart {
      color: $white;
      transform: rotate(-5deg);
    }
    .fa-question {
      color: $primary;
      transform: rotate(10deg);
    }
    @include breakpoint(lg) {
      gap: 5rem;
      margin-top: 8rem;
    }
  }

  &__content {
    .title-primary {
      transform: rotate(5deg);
      z-index: 30;

      @include breakpoint(lg) {
        width: 100%;
        transform: rotate(0deg);
      }
    }
    .help__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 2rem;
      grid-row-gap: 3rem;
      background: $light-color;
      font-size: 1.8em;
      padding: 3rem 2rem;
      margin-right: 3rem;
      box-shadow: 10px 10px 8px #1f1f1f7e;
      border-radius: 2px;
      line-height: 1.8em;

      .d-flex {
        align-items: center;
        justify-content: start;
        gap: 1rem;

        span {
          font-family: $font-secondary;
          flex-basis: 15%;
          font-weight: bold;
          font-size: 1.8em;
          position: relative;
          text-align: center;
          z-index: 10;

          &::after {
            content: "";
            height: 6px;
            width: 50%;
            background: $primary;
            position: absolute;
            bottom: 4px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -10;
            transition: all 0.3s ease-out;
          }
        }
        &:hover span::after {
          width: 70%;
        }
        p {
          flex-basis: 85%;
        }
      }

      @include breakpoint(lg) {
        margin: 0;
      }
      @include breakpoint(md) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 0;
      }
      @include breakpoint(sm) {
        padding: 1rem;

        p {
          margin: 0;
        }
      }
    }
  }
}
/*   ABOUT US   */
.about {
  padding: 5rem 0;

  &__content {
    .title-primary {
      transform: rotate(-3deg);
      z-index: 30;
      @include breakpoint(md) {
        transform: rotate(0);
      }
    }
    .accordion {
      width: 100%;
      font-size: 1.7em;

      &-button {
        font-size: 1.05em;
      }
    }
  }

  &__icons {
    color: $primary;
    font-size: 5em;
    gap: 2rem;

    img {
      max-width: 125px;
    }

    @include breakpoint(md) {
      margin-top: 8rem;
      gap: 5rem;
    }
  }
}
/*   CONTACT   */
.contact {
  padding: 5rem 0 10rem 0;

  article {
    .title-primary {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      z-index: 30;
      padding: 4rem 0.2rem;
    }
    .form__paper {
      flex-basis: 60%;

      .btn-principal {
        width: 100%;
        margin-bottom: 2rem;
        font-size: 1.9em;
      }

      @include breakpoint(md) {
        flex-basis: 85%;
        padding: 1rem 3rem;
      }
    }

    @include breakpoint(sm) {
      flex-direction: column;

      .title-primary {
        flex-basis: 100%;
        writing-mode: initial;
        transform: rotate(0);
        width: 100%;
        padding: 0.2rem 0;
      }

      .form__paper {
        width: 100%;
        padding: 1rem 1.5rem;
      }
    }
  }
}
