.product {
  padding: 5rem 0;
  overflow: visible;

  &__header {
    font-size: 2em;
    margin-bottom: 3rem;

    h2 {
      font-size: 2.1em;
    }

    h3 i {
      position: relative;
      top: -1px;
      padding: 0 0.7rem;

      span::before {
        content: "";
        position: absolute;
        background: $accent;
        width: 100%;
        height: 50%;
        bottom: -2px;
        left: 0;
        z-index: -1;
      }
    }
    .product__ship {
      input {
        font-size: 0.9em;
        border-bottom: 4px solid $primary;
        padding: 0.1rem;
        text-align: right;
        width: 100%;
      }
      button {
        font-size: 1em;
        padding: 0.5rem;
      }
    }
  }

  &__main {
    flex-wrap: wrap;
    margin-bottom: 5rem;

    .product__slide img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    .product__details {
      gap: 1rem;
      font-size: 1.8em;

      .product__description {
        position: relative;
        margin-bottom: 4rem;

        &::after {
          content: "";
          width: 60%;
          background: #c6c6c6;
          height: 3px;
          position: absolute;
          bottom: -3rem;
          left: 0;
          right: 0;
          margin: 0 auto;
          border-radius: 10px;
        }
      }

      .product__preferences select {
        border: 2px solid $black;
        border-radius: 2px;
        padding: 0.5rem;
        font-weight: bold;
        font-size: 0.9em;
      }

      .product__quantity {
        background: $black;
        border: 2px solid $black;
        border-radius: 2px;
        overflow: hidden;
        @include breakpoint(sm) {
          flex-direction: column;
        }

        .btn-quantity {
          flex-basis: 33%;
          padding: 0.3rem;
          font-weight: bold;
          color: $white;
          text-align: center;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: $primary;
          }
          @include breakpoint(sm) {
            width: 100%;
          }
        }
        input {
          flex-basis: 33%;
          background: #f4f4f4;
          padding: 0.3rem;
          font-weight: bold;
          text-align: center;
          width: auto;

          @include breakpoint(sm) {
            width: 100%;
          }
        }
      }

      .btn-principal {
        font-size: 1em;
      }
    }
  }
}
