.login,
.register {
  padding: 5rem 0;
  overflow: visible;

  .icons {
    font-size: 6em;
    color: $primary;
    gap: 3rem;

    i {
      position: relative;

      &:first-child {
        bottom: 1rem;
        right: 10rem;
        transform: rotate(-5deg);
      }
      &:last-child {
        top: 1rem;
        left: 5rem;
        transform: rotate(15deg);
      }
      @include breakpoint(lg) {
        position: initial;
      }
    }

    @include breakpoint(md) {
      padding-top: 5rem;
    }
  }

  .form__paper {
    .input__box {
      gap: 1rem;

      select {
        padding: 0.45rem 0;
      }
    }

    .btn-principal {
      margin: 5rem 0 0.5rem 0;
      width: 100%;
      font-size: 1.9em;
    }

    > a {
      font-size: 1.7em;
      margin-top: -1rem;
    }

    p {
      margin-top: 0.5rem;
      font-size: 1.7em;
    }

    @include breakpoint(sm) {
      padding: 3rem 2rem;
    }
  }
}

.login {
  .modal-content {
    .modal-body {
      padding: 2rem;
    }
    .title-primary {
      padding: 0.2rem 0rem;
      font-size: 1.3em;
      background: none;
    }
    .input__box {
      font-size: 0.55em;
      margin: 0;
    }
  }
}
.register {
  > p {
    margin: 3rem 0;
    color: $white;
    font-size: 1.8em;
    position: relative;
  }
  .text-leftline::before {
    @include breakpoint(sm) {
      width: 0;
    }
  }
}
