/*   HELPERS   */

.container {
  /* max-width: 1320px; */
  max-width: 1750px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;

  @include breakpoint(sm) {
    width: 95%;
  }
}
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.algn-items-center {
  align-items: center;
}
.jc-center {
  justify-content: center;
}
.jc-between {
  justify-content: space-between;
}

/*    TEXT & BACKGROUNDS    */

.bg-bricks {
  background: url(../img/bricks.webp);
}
.bg-light {
  background: #f4f4f4;
}
.title-primary {
  display: inline-block;
  background: $primary;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  padding: 0.2rem 4rem;
}
.title-secondary {
  display: inline-block;
  background: $white;
  font-size: 3.9em;
  font-weight: bold;
  text-align: center;
  padding: 0.2rem 3rem;
}
.title-underlined {
  display: inline-block;
  font-size: 4.5em;
  position: relative;
  padding-right: 3rem;

  &::before {
    @extend .lines-decoration;
    height: 7px;
    bottom: 6px;
    left: 0;
  }
}
.text-accent {
  color: $accent;
  font-weight: bold;
}
.text-underlined::before {
  @extend .lines-decoration;
  height: 4px;
  bottom: 3px;
  left: 0;
}
.text-overline::before {
  @extend .lines-decoration;
  height: 7px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.text-leftline::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 40px;
  background: $primary;
  bottom: 5px;
  left: -2rem;
  top: 0;
  bottom: 0;
  margin: auto;
}

/*    BUTTONS    */

.btn-principal {
  @include flex(center, center, 0.5rem);
  background: $primary;
  color: $black;
  border-radius: 2px;
  padding: 0.8rem 2rem;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    background: rgba(5, 5, 5, 0.918);
    color: $primary;
  }
}
.btn-secundario {
  @include flex(center, center, 0.5rem);
  background: $white;
  color: $black;
  border-radius: 0;
  padding: 0.8rem 2rem;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    background: $primary;
  }
}

/*     FORMS    */

.form__paper {
  background: hsla(0, 0%, 100%, 0.961);
  padding: 4rem;
  border-radius: 2px;
  box-shadow: 10px 10px 8px #1f1f1f7e;
}
.input__box {
  margin: 2rem 0;
}
.form__label {
  font-size: 1.8em;
}
.form__input {
  width: 100%;
  background: transparent;
  border-bottom: 3px solid $primary;
  padding: 0.3rem 0.1rem;
  font-size: 1.7em;
  resize: none;
  transition: all 0.5s ease-in-out;

  &:focus {
    border-bottom: 3px solid $black;
  }
}

/*     PRODUCT CARD    */

.product__card {
  position: relative;
  max-width: 100%;

  a {
    width: 100%;
    border-radius: 2px;
    box-shadow: 1px 5px 10px #b1b1b18e;
    overflow: hidden;
  }

  &__img {
    width: 325px;
    height: 400px;

    img {
      height: 100%;
      display: block;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
    }
  }
  &:hover &__img img {
    width: 130%;
    height: 140%;
  }

  &__info {
    background: $white;
    padding: 1.5rem;
    transition: all 0.3s ease-in-out;

    .product__card__title {
      font-size: 2.3em;
      position: relative;
      z-index: 100;

      &::after {
        content: "";
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 100%;
        height: 5px;
        background: $primary;
        z-index: -100;
        transition: all 0.3s ease-in-out;
      }
    }

    .product__card__price {
      font-size: 2em;
      margin: 0.5rem 0 1rem 0;

      span {
        text-decoration: line-through;
        font-size: 0.9em;
        margin-left: 0.7rem;
      }
    }

    .product__card__btn {
      justify-content: end;
      transition: all 0.3s ease-in-out;

      .btn-cart {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.8em;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        i {
          transition: all 0.3s ease-in-out;
        }

        &:hover i {
          color: $primary;
          animation: float 0.4s ease-in-out infinite alternate;
        }
      }
    }
  }
  &:hover &__title::after {
    width: 90%;
  }

  &:hover &__info,
  &:hover .btn-cart {
    color: $white;
  }

  .offer {
    position: absolute;
    top: 10px;
    right: -10px;
    background: $accent;
    color: $white;
    padding: 0.5rem 1rem;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 4px 5px 0px #041922;
  }
  &:hover .offer {
    animation: float 0.4s ease-in-out infinite alternate;
  }

  @include breakpoint(sm) {
    &__img {
      width: 315px;
    }
    .offer {
      right: -5px;
    }
  }
}

/*     EXTENDS         */

.lines-decoration {
  content: "";
  position: absolute;
  width: 100%;
  background: $primary;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .title-underlined {
    font-size: 4em;
  }
  .title-primary {
    width: 100%;
    padding: 0.2rem 0;
  }
  .title-primary.vertical {
    width: auto;
  }
}
