$primary: #ffda07;
$accent: #157097;
$black: #000;
$white: #fff;
$light-color: hsla(0, 0%, 100%, 0.961);
$font-primary: "Urbanist", sans-serif;
$font-secondary: "Hammersmith One", sans-serif;

//    MAPS

$breakpoints: (
  sm: 425px,
  md: 767px,
  lg: 1199px,
);
