$primary: #ffda07;
$accent: #157097;
$black: #000;
$white: #e2e2e2;
$light-color: hsla(0, 0%, 100%, 0.961);
$font-primary: "Urbanist", sans-serif;
$font-secondary: "Hammersmith One", sans-serif;
// $box-shadow: 0.5rem 0.5rem 0 rgb(149, 87, 32);
// $border: 0.2rem solid $primary;
