.section__header {
  margin-bottom: 3rem;

  .breadcrumb {
    @include flex(null, start, center, 0.5rem);
    flex-wrap: wrap;
    margin: 1rem 0;
    font-size: 1.7em;

    li:not(:last-child) {
      margin-right: 0.5rem;
      &::after {
        content: ">";
        position: relative;
        right: -0.5rem;
      }
      a {
        text-decoration: underline;
      }
    }
  }
}
