.section__header {
  margin-bottom: 3rem;

  .breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
    font-size: 1.7em;

    li a {
      text-decoration: underline;
    }

    .breadcrumb__divider {
      margin: 0 0.2rem;
    }
  }
}
